name: CI

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: nebularg/actions-luacheck@v1
      with:
        files: 'lua after'
